kfp==2.7.0
google-cloud-storage
google-cloud-aiplatform
google-cloud-pipeline-components
python-dotenv
tensorflow        
pandas         
numpy           
scikit-learn      
protobuf<5.0.0   
urllib3<2.0.0
